<h1 class="text-center">Nuevos lanzamientos</h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let item of newReleaces" class="col">
        <div class="card h-100">
            <img [src]="item.images|noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <span *ngFor="let artista of item.artists" class="badge bg-info text-dark">{{artista.name}}</span>

                </p>
                <a [routerLink]="['/album',item.id]">Ver álbum...</a>
            </div>
        </div>
    </div>
</div>


<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>
        {{ mensajeError }}
    </p>
</div>
