<div class="row">
    <div class="col">
        <input #argumento type="text" class="form-control" (keyup)="search(argumento.value)" placeholder="Buscar Artista...">
    </div>
</div>
<hr>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let item of artists" class="col">
            <div class="card h-100">
                <img [src]="item.images|noimage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">
                        <span *ngFor="let genre of item.genres" class="badge bg-info text-dark">{{genre}}</span>
                    </p>
                    <a class="text-primary" [routerLink]="['/albums',item.id]">Ver álbums</a>
                </div>
            </div>
        </div>
    </div>
</div>
